.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.white{
  border: 5px solid #fff;
  border-bottom-color: transparent;
}

.black{
  border: 5px solid var(--primary-black);
  border-bottom-color: transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
