.filtersWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.publishers {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  h3 {
    background: var(--light-gray);
    border-radius: 6px;
    padding-left: 5px;
    font-weight: 500;
  }

  div {
    display: flex;
    flex-direction: column;
    height: 80px;
    gap: 10px;
    overflow-y: auto;
    padding-right: 10px;

    button {
      font-weight: 500;
    }
  }
}

.pubBtn{
  min-width: 156px;
  font-weight: 700;
}

.choicedBtn {
  background: var(--light-gray);
  color: var(--secondary-black);
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  padding: 5px 10px;
}
