.header{
  width: 100%;
  background: var(--primary-black);
  padding: 10px 20px;
  position: fixed;
  z-index: 5000;
}

.headerInner{
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    font-size: 25px;
    color: var(--white);
  }
}

.authWrapper, .userButtons{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.userBtn{
  svg{
    width: 30px;
    color: var(--white)
  }
}