.hintWrapper{
  width: 100%;
  height: 150px;
  position: absolute;
  overflow-y: auto;
  background: var(--white);
  border-radius: 6px;
  bottom: -155px;
}

.hintList{
  li{
    font-size: 14px;
    display: flex;
    border-bottom: 1px solid var(--light-gray);
    span{
      display: block;
      width: 30%;
      text-align: center;
    }
  }
}

.fixedList{
  position: sticky;
  top: 0;
  background: var(--light-gray);
  border-radius: 6px;
  font-weight: 700;
  border: none !important;
}