.newsWrapper {
  display: flex;
  height: 87vh;
  overflow-y: auto;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 10px;
}

.newsInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding-right: 20px;

  h2 {
    font-size: 20px;
    font-weight: 700;
  }

  button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 14px;
  }
}

.filtersWrapper {
  position: relative;
}

.filtersTooltip {
  background: var(--white);
  border: 2px solid var(--primary-black);
  border-radius: 6px;
  bottom: -137px;
  left: -97px;
}
