.btn{
  width: 100%;
  display: inline-flex;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  transition: .3s all;
}

.black{
  background: var(--primary-black);
  color: var(--white);

  &:hover{
    background: var(--primary-yellow);
    color: var(--primary-black);
  }
}

.red{
  background: var(--negative-bg);
  color: var(--negative-color)
}