.form{
  width: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  background: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 10px;

  h3{
    font-size: 20px;
    font-weight: 700;
  }

  button{
    font-size: 20px;
    font-weight: 500;
    min-height: 45px;
  }

  a{
    color: var(--primary-black);
    font-weight: 700;
  }
}